.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.login-container > .error-wrap {
    color: red;
    font-weight: 600;
    margin-bottom: 15px;
}

.login-container > .ant-form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.login-container > .ant-form > .controls-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container > .ant-form > .controls-wrap > .label {
    margin: 0 7px 0 20px;
}